<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>

    <!-- banner -->
    <div class="banner" id="banner">
        <div class="bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-text">
                            <h2>Welcome to <span>Ethereal</span> World</h2>
                            <p>Cras aliquet et mi id fermentum. Suspendisse eget sodales euismod.</p>

                            <a href="https://www.free-css.com/free-css-templates" class="banner-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="features">
            <div class="container">
                <div class="row a5">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-box media">
                            <div class="icon-box text-center pull-left media-object"><i class="fas fa-lightbulb"></i></div>
                            <div class="feature-text media-body">
                                <h4>Elementum laoreet</h4>
                                <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-box media pull-left">
                            <div class="icon-box text-center pull-left media-object"><i class="far fa-eye"></i></div>
                            <div class="feature-text media-body">
                                <h4>Elementum laoreet</h4>
                                <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-box media pull-left">
                            <div class="icon-box text-center pull-left media-object"><i class="fas fa-heart"></i></div>
                            <div class="feature-text media-body">
                                <h4>Elementum laoreet</h4>
                                <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="work" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center text">
                        <h3>Our Work</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="portfolio-item"><a href="https://www.free-css.com/free-css-templates"><img src="img/portfolio-1.jpg" alt="website template image" class="img-portfolio img-responsive"></a></div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="portfolio-item"><a href="https://www.free-css.com/free-css-templates"><img src="img/portfolio-2.jpg" alt="website template image" class="img-portfolio img-responsive"></a></div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="portfolio-item"><a href="https://www.free-css.com/free-css-templates"><img src="img/portfolio-3.jpg" alt="website template image" class="img-portfolio img-responsive"></a></div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="portfolio-item"><a href="https://www.free-css.com/free-css-templates"><img src="img/portfolio-4.jpg" alt="website template image" class="img-portfolio img-responsive"></a></div>
                            </div>
                        </div>
                        <a href="https://www.free-css.com/free-css-templates" class="view-more">View More Items</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui ante, ornare eget est in, ultricies rutrum elit.</p>
            <h3>Brad Will</h3>
            <img class="wekil" src="img/team-img-03.jpg" alt="">


        </div>
        <div class="item">
            <p>Proin tincidunt, orci vel volutpat blandit, purus turpis faucibus massa, sit amet posuere nunc diam in ex.</p>
            <h3>Yogesh Singh</h3>
            <img class="wekil" src="img/team-img-02.jpg" alt="">
        </div>
        <div class="item">
            <p>Morbi velit mauris, hendrerit in convallis vel, laoreet et orci. Integer semper, est vel congue suscipit, nisl nibh convallis lorem, sit amet faucibus purus lacus eu nulla. Sed nec blandit ante, sed semper tellus.</p>
            <h3>John Deo</h3>
            <img class="wekil" src="img/team-img-01.jpg" alt="">
        </div>

    </div>

    <section>
        <div class="call-to-action">
            <div class="call-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-10">
                            <div class="subscribe-text">
                                <h3>Subscribe For Updates</h3>
                                <p>Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center"><a href="https://www.free-css.com/free-css-templates" class="subscribe-button">Subscribe Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>About Us</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque.</p>
                            <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque.</p>
                        </div>
                    </div>
                    <div class="col-md-6 a123">
                        <div class="col-md-6 col-sm-6 col-xs-6 block">
                            <div class="counter-item text-center">
                                <h5>Our Clients</h5>
                                <p class="az">55</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="counter-item text-center">
                                <h5>Projects completed</h5>
                                <p class="az">88</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>Contact Us</h3>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
                        <div class="contact-form">
                            <form action="#" method="post" role="form">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message" rows="6"></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="contact-button">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                        <div class="address">
                            <h4>Address</h4>
                            <p>
                                123, This Appartment,<br>
                                Near Ocean Street<br>
                                New York<br>
                            </p>
                            <div class="email">
                                <i class="fa fa-at"></i>info@domain.com<br>
                                <i class="fa fa-mobile"></i>123 456 789
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script type="text/javascript">
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:1
        }
    }
})
    </script>
</body>
</html>